---
layout: home
title: Slimme lampen goedkoop kopen? Bij slimmelampen.com vind je altijd de scherpste prijzen!
---

<div class="c-hero --home1">
  <div class="c-hero__image"></div>
  <h1 class="c-hero__heading">Altijd de scherpste prijzen op het gebied van slimme lampen</h1>
</div>

<div class="c-page__section">
  <div class="l-wrapper">
    <h2 class="c-heading --xl u-mb">In the spotlights...</h2>

    <div class="l-grid--4-cols l-grid--2-cols@s">
      {% for product in site.products %}
        <a class="c-product-card" href="{{ product.url | relative_url }}">
          <div class="c-product-card__image">
            <img src="/assets/images/products/{{ product.image }}.jpg">
          </div>
          <div class="c-product-card__title">
            {{ product.name }}
          </div>
          <div class="c-product-card__price">
            {% if product.new-price != product.old-price %}
              <div class="c-product-card__price--old">
                &euro; <span>{{ product.old-price }}</span>
              </div>
            {% endif %}
            <div class="c-product-card__price--new">
              &euro; <span>{{ product.new-price }}</span>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="c-page__section">
  <div class="l-wrapper">
    <h2 class="c-heading --xl u-mb">Lees ook</h2>

    <div class="l-grid--3-cols">
      {% for post in site.posts %}
        <a class="c-blog-card l-grid--2-cols l-grid--no-gap" href="{{ post.url | relative_url }}">
          <div class="c-blog-card__image">
            <img src="/assets/images/{{ post.image }}">
          </div>
          <div class="c-blog-card__title">
            {{ post.title }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="c-hero --home2">
  <div class="c-hero__image"></div>
  <h1 class="c-hero__heading">"Nergens vind ik slimme lampen zo goedkoop als bij slimmelampen.com!"</h1>
</div>

<div class="c-page__section"></div>
<div class="c-page__section"></div>
<div class="c-page__section"></div>
<div class="c-page__section"></div>
