<footer class="c-footer">
  <div class="l-wrapper--small">
    <h2 class="c-heading --xl u-mb">Over slimmelampen.com</h2>
    <p>Slimmelampen.com beschikt altijd over de goedkoopste prijzen en deals op het gebied van de slimme lampen van met name Philips Hue. Wij lichten alleen de artikelen uit die wij zelf ook aanraden, bij ons dus geen keuzestress. Wij zijn zelf geen shop maar verwijzen door naar bestaande shops die op dat moment het goedkoopste is zoals bijv. Amazon, Coolblue, Bol.com etc. Verder lees je hier de leukste en meest informatieve blogs/tutorials over slimme verlichting!</p>
  </div>
</footer>
