
<header class="c-header">

  <a class="c-logo" href="/">
    <div class="c-logo__lamp">
      <img src="/assets/images/lightbulb.svg">
    </div>
    <div class="c-logo__slimme">SLIMME</div>
    <div class="c-logo__line2">
      <span class="c-logo__lampen">LAMPEN</span>
      <span class="c-logo__com">.com</span>
    </div>
  </a>

  <nav class="c-nav__wrapper u-display--none@s">
    <div class="c-nav">
      <a class="c-nav__item" href="/producten">Producten</a>
      <a class="c-nav__item" href="/blog">Blog</a>
    </div>
  </nav>

</header>
