<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

  <!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title_tag %}{{ page.title_tag }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.summary }}">
  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.image }}.jpg">
  {% else if page.thumbnail %}
    <meta property="og:image" content="{{ site.url }}/assets/images/meerstad-in-beeld/albums/{{ page.url-slug }}{{ page.thumbnail }}.jpg">
  {% endif %}

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.title_tag %}{{ page.title_tag }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ page.summary }}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">

  {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}/assets/images/{{ page.image }}.jpg">
  {% else if page.thumbnail %}
    <meta name="twitter:image" content="{{ site.url }}/assets/images/meerstad-in-beeld/albums/{{ page.url-slug }}{{ page.thumbnail }}.jpg">
  {% endif %}

</head>


