
<header class="c-header">
  <div class="l-wrapper">
    <div class="l-grid--2-cols">
      <div>
        <a class="c-logo" href="/">
          <img src="/assets/images/logo/logo.jpg">
        </a>
      </div>
      <div class="c-nav__wrapper u-display--none@s">
        <nav>
          <div class="c-nav">
            <a class="c-nav__item" href="/producten">Producten</a>
            <!-- <a class="c-nav__item" href="/blog">Blog</a> -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
