.c-nav
  right: 0
  +center-vertical

  &__item
    color: $inverted-text-color
    text-transform: uppercase
    font-size: px(22)
    margin-right: px(24)
    letter-spacing: px(2)
    font-weight: 700
