<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="c-page__header-filler"></div>

    <div class="l-wrapper--small">
      <div class="u-mb++">
        <main class="c-blog-post">

          <div class="c-blog-post__image u-mb">
            <img src="/assets/images/{{ page.image }}">
          </div>

          <div class="c-blog-post__title">
            <h1 class="c-heading --xl u-mb">{{ page.title }}</h1>
          </div>

          <div class="c-blog-post__content u-mb">
            {{ content }}
          </div>
        </main>
      </div>
    </div>

    {% include footer.html %}

    {% include end-of-body.html %}
  </body>

</html>
